h1, h2 {
  font-family: Georgia, serif;
}


.introimage {
  background-image: radial-gradient(transparent, rgba(0,0,0,0.5)), url("Pictures/hook.jpg");
  padding: 200px 100px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Verdana, sans-serif;


}
